<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <!-- 发送微信待办推送的Url全路径 -->
    <add key="SendWXTaskUrl" value="http://192.168.80.251/DLWeb/Application/Project/ECMC/Weixin/SendTodoTaskMsg.aspx" />
    <!-- 发送微信待办推送的时间间隔（秒） -->
    <add key="SendWXTaskTime" value="120" />
    
    <!-- 发送微信消息提醒推送的Url全路径 -->
    <add key="SendWXMsgUrl" value="http://192.168.80.251/DLWeb/Application/Project/ECMC/Weixin/SendPopMsg.aspx" />
    <!-- 发送微信消息提醒推送的时间间隔（秒） -->
    <add key="SendWXMsgTime" value="130" />
    
    <!-- 发送节点计划超期提醒的全路径 -->
    <add key="NodePlanMsgUrl" value="" />

    <!-- 发送前期跟踪下次跟踪提醒的全路径 -->
    <add key="NextTrackMsgUrl" value="http://192.168.80.251/DLWeb/yang/PM/BackgroundProgram/z_previoustrackNextDateMsg.aspx" />

    <!-- 同步组织机构的的全路径 -->
    <add key="SynchronousOrganizationUrl" value="http://192.168.80.251/DLWeb/yang/SYS/InputUserFromOA.aspx" />
    <!-- 发送微信消息提醒推送的时间间隔（秒） -->
    <add key="SynchronousOrganizationTime" value="300" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileTracer" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="lockingModel" value="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>